/* My order? Elements first, then classes, then individual IDs. */
/* #region Elements. */


/* #endregion. */

/* #region Classes. */

.hidden {
    display: none;
}

.centered-element {
    font-size: xx-large;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    /*  Centering. By using a 'fixed'/absolute position, then translating: */
    top: 50%;
    left: 50%;
    margin: 0;
    position: absolute;
    transform: translate(-50%, -50%);
}

/* #endregion */

/* #region IDs. */

#p1 {
    top: 45%;
}

#p2 {
    top: 55%;
}

/* #endregion */

/* */