/* My order? Elements first, then classes, then individual IDs. */
/* #region Elements. */

td {
    border: 1.5px solid #dddddd;
    border-radius: 5%;
    text-align: center;
    padding: 4px;

    animation: td-anim;
    animation-duration: 4s;
    animation-timing-function: cubic-bezier();
}

th {
    background-color: #f2f2f2;
    border: 1.5px solid #dddddd;
    border-radius: 7.5%;
    text-align: center;
    /* padding: 4px; */
}

/* #endregion. */

/* #region Classes. */

.centered-element {
    text-align: center;

    /*  Centering. By using a 'fixed'/absolute position, then translating: */
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.fade-in {
    animation: fade-in-anim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

/* #endregion */

/* #region IDs. */

#time-table {
    border-collapse: collapse;

    text-align: center;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#table-name {
    animation: table-name-anim;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

/* #endregion */

/* #region Animations. */

@keyframes table-name-anim {

    0% {
        transform: translate(0%, 0%) rotate(-45deg) scale(1);
    }

    25% {
        transform: translate(-10%, -150%) rotate(0deg) scale(2);
    }

    50% {
        transform: translate(25%, -150%) rotate(45deg) scale(0.5);
    }

    100% {
        transform: translate(0%, 0%) rotate(0deg);
    }

}

@keyframes td-anim {

    0% {
        color: #FFFFFFFF;
        border-radius: 5%;
        opacity: 0;
    }

    50% {
        border-radius: 25%;
        opacity: 0;
    }

    100% {
        border-radius: 5%;
        opacity: 1;
    }

}

@keyframes fade-in-anim {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/* #endregion */

/* */